################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TeacherDemoBackend/.vs/TeacherDemoBackend/v15
/TeacherDemoBackend/TeacherDemoBackend/bin/Debug/netcoreapp2.1
/TeacherDemoBackend/TeacherDemoBackend/obj/Debug/netcoreapp2.1
