@{
    ViewData["Title"] = "Tietoa";
}
<h2>Tietoa sovelluksesta</h2>
<p>
    EnglishTeacher on englannin kielen opiskeluun tarkoitettu interaktiivinen oppimisympäristö. Sovellus on suunnattu vasta-alkajille ja sopii myös lasten käyttöön.
</p>
<p>
    Voit tutustua oppimateriaaleihin yksitellen haluamassasi järjestyksessä, tai aloittaa oppimisen alusta ja antaa sovelluksen ohjata sinua eteenpäin (suositus).
</p>

<button type="button" id="btn1" class="btn">Aloita!</button>

<script>
    document.getElementById("btn1").onclick = siirrySivulle;

    function siirrySivulle() {
        window.location.assign("Oppitunti1")
    }

</script>
    


