@{
    ViewData["Title"] = "Tietoa";
}

<div class="container" align="center">

    <div class="row" align="center">

        <h2>Tietoa sovelluksesta</h2>
        <h4>
            EnglishTeacher on englannin kielen opiskeluun tarkoitettu interaktiivinen oppimisympäristö. Sovellus on suunnattu vasta-alkajille ja sopii myös lasten käyttöön.
        </h4>
        <h4>
            Voit tutustua oppimateriaaleihin yksitellen haluamassasi järjestyksessä, tai aloittaa oppimisen alusta ja antaa sovelluksen ohjata sinua eteenpäin (suositus).
        </h4>

        <button type="button" id="btn1" class="btn">Aloita!</button>

    </div>

</div>

<script>
    document.getElementById("btn1").onclick = siirrySivulle;

    function siirrySivulle() {
        window.location.assign("Oppitunti1")
    }

</script>



