@{
    ViewData["Title"] = "Ota yhteyttä";
}

<div class="container" align="center">
    
    <div class="row" align="center">

        <h2>Yhteystiedot</h2>

    </div>
        
    <div class="row" align="center">

        <address>
            S-posti <small class="text-muted"><a href="mailto:englishteacherteam@gmail.com">englishteacherteam@gmail.com</a></small><br />
            Puh. <small class="text-muted">040 1234567</small>
        </address>

    </div>
</div>
