@{
    ViewData["Title"] = "Etusivu";
}

<div class="container" align="center">

    <div class="row" align="center">

        <div class="col">
            <h2>Englannin kielen opetusta vasta-alkajille</h2>

            <h3>EnglishTeacher tekee kielen opiskelusta helppoa ja hauskaa!</h3>
        </div>
        <div class="col">
            <img src="~/images/teacher1.png" id="kuvat" alt="kuva" />
        </div>

    </div>

    <div class="row">
        <div class="col">
            <button type="button" id="btn1" class="btn">Aloita oppiminen</button> <button type="button" id="btn2" class="btn">Tietoa meistä</button>
        </div>
    </div>
</div>

    <script>
        document.getElementById("btn1").onclick = siirrySivulle1;

        function siirrySivulle1() {
            window.location.assign("/Home/Oppitunti1")
        }

        document.getElementById("btn2").onclick = siirrySivulle2;

        function siirrySivulle2() {
            window.location.assign("/Home/About")
        }


    </script>

    <script>
            //window.onload = valitseKuva;

            //var kuvat = new Array("~/images/books.png", "~/images/learning.png", "~/images/supplies.png");

            //function valitseKuva() {
            //    randomNum = Math.floor((Math.random() * valitseKuva.length));
            //    document.getElementById("kuvat").src = valitseKuva[randomNum];
            //}

    </script>



