
@{
    ViewData["Title"] = "Tietoa Oppimisesta";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Miksi opiskella englantia?</h2>
<h3>Infoa opiskelusta. Infoa opiskelusta. Infoa opiskelusta. Infoa opiskelusta. Infoa opiskelusta. Infoa opiskelusta. Infoa opiskelusta. Infoa opiskelusta. Infoa opiskelusta. 
    Infoa opiskelusta. Infoa opiskelusta. Infoa opiskelusta.</h3>

