
@{
    ViewData["Title"] = "Tietoa Oppimisesta";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container" align="center">
    
    <div class="row" align="center">
        <div class="col">
            <h2>Miksi opiskella englantia?</h2>
            <h4>
                Englannin kieltä käytetään englanninkielisten maiden lisäksi maailmassa laajalti yhteisenä kielenä, jolla tulee ymmärretyksi useimmissa maailman maissa.
                Maailmalla matkaillessa englannin kielen osaamisen on lähes välttämättömyys.
            </h4>
            <h4>
                Lisäksi englanti on nykyään käytössä yhä useampien yritysten virallisena työkielenä, sekä sen osaaminen on vaatimuksena
                moniin työtehtäviin pyrkiessä.
            </h4>

            <!--<img src="~/images/global.png" alt="maailma" class="maailma" />-->
            <h2>Oppiminen on nopeaa</h2>
            <h4>
                Koska englannin kieli on nykypäivänä läsnä lähes kaikkialla maailmassa, kielen oppiminen on nopeaa. Esimerkiksi englanninkielisten mediasisältöjen suosio ja saatavuus edesauttaa kielen
                omaksumista. Englantia opetetaan tietysti myös koulussa ja suurin osa suomalaisista osaakin tästä syystä kieltä jo hyvin.
            </h4>
            <h4>
                EnglishTeacher -sovellus onkin suunniteltu lähinnä koulussa tapahtuvan
                oppimisen tueksi, tai esimerkiksi tilanteisiin, joissa haluat kerrata jo oppimaasi ilman, että sinun tarvitsee tarttua tylsiin oppikirjoihin!
            </h4>
        </div>
    </div>
</div>

