/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */

@import 'https://fonts.googleapis.com/css?family=Raleway';

html, body {
    height: 100%;
}

#holder {
    min-height: 100%;
    position: relative;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-top: 30px;
    padding-bottom: 250px;
    padding-left: 30px;
    padding-right: 30px;
    font-family: 'Raleway';
}

p,
h1,
h2,
h3,
h4 {
    margin: 1em 0;
    padding: 0 5em 0 5em;
    display: inline-block;
    text-align: center;
    line-height: 24px;
}

a {
    color: #003366;
}

a:hover,
a:focus,
a:active {
    text-decoration: initial;
    color: #0059b3;
}

address {
    display: inline-block;
    text-align: left;
    font-size: 18px;
}

.maailma {
    float: right;
}

small {
    line-height: 28px;
}

/*Yläpalkki otsikkotaso*/

.jumbotron {
    margin: 60px auto 0 auto;
    padding-top: 100px;
    height: 300px;
    background-color: #003366;
    color: #fff;
    text-align: center;
    font-family: 'Century Gothic';
    text-transform: uppercase;
    font-size: 50px;
}

.jumbotron > a {
    padding-top: 75px;
    background-color: #003366;
    color: #fff;
    text-align: center;
    font-family: 'Century Gothic';
    text-transform: uppercase;
    text-decoration: none;
    font-size: 50px;
}

.jumbotron > a:hover,
.jumbotron > a:focus {
        padding-top: 75px;
        background-color: #003366;
        color: #fff;
        text-align: center;
        font-family: 'Century Gothic';
        text-transform: uppercase;
        text-decoration: none;
        font-size: 50px;
}

/*Yläpalkki*/
#vari {
    background-color: #e24912;
}

#vari:hover {
    background-color: #e24912;
}

.navbar .navbar-nav {
    display: inline-block;
    float: none;
    margin-bottom: -6px;
}

.navbar {
    text-align: center;
    min-height: 60px;
    margin-bottom: 0px;
}

.navbar-inverse {
    background-color: #e24912;
    border-color: #e24912;
    min-height: 60px;
    margin-bottom: 0px;
}

/*Yläpalkki linkit*/
    .navbar-inverse .navbar-brand {
        padding-top: 30px;
        padding-bottom: 30px;
        margin-top: 0px;
        margin-bottom: 0px;
        font-family: 'Century Gothic';
        text-transform: uppercase;
        font-size: 30px;
        color: #fff;
        -webkit-transition: all 0.4s;
        transition: all 0.4s;
        -webkit-transition-delay: 0.4s;
        transition-delay: 0.4s;
    }

.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus {
        color: #fff;
        background-color: #ff794d;
}

.navbar-inverse .navbar-text {
        background-color: #e24912;
        color: #9d9d9d;
}

.navbar-inverse .navbar-nav > li > a {
        padding-top: 30px;
        padding-bottom: 30px;
        margin-top: 0px;
        margin-bottom: 0px;
        font-family: 'Century Gothic';
        text-transform: uppercase;
        font-size: 18px;
        color: #fff;
        -webkit-transition: all 0.4s;
        transition: all 0.4s;
        -webkit-transition-delay: 0.4s;
        transition-delay: 0.4s;
        vertical-align: middle;
}

.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
        color: #fff;
        background-color: #ff794d;
}

/*yläpalkin collapsed view määritykset*/
.navbar-inverse .navbar-toggle {
        background-color: #e24912;
        margin-top: 1em;
        border: none;
}

.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
        background-color: #ff794d !important;
}

.navbar .navbar-collapse {
    border-color: #e24912;
}

.navbar-fixed-top .navbar-collapse {
    max-height: 100%;
    overflow-y: visible;
}

.navbar-collapse.collapse.in > ul.nav.navbar-nav {
    width: 100%;
    right: 0;
    left: 0;
}

.navbar-collapse.collapse.in > ul > li {
    width: 100%;
    margin-top: -6px;
    margin-bottom: 6px;
}



.navbar-collapse.collapse.in > ul > li > dropdown-content {
    display: none;
}


/*Yläpalkki dropdown*/
/* Dropdown Button */
.dropbtn {
        background-color: #e24912;
        color: #fff;
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 30px;
        padding-bottom: 30px;
        line-height: 20px;
        font-size: 18px;
        border: none;
        text-transform: uppercase;
}


.dropdown {
    position: relative;
    display: inline-block;
    font-family: 'Century Gothic';
    text-transform: uppercase;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
    -webkit-transition-delay: 0.4s;
    transition-delay: 0.4s;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #e24912;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

    
.dropdown-content a {
   color: #fff;
   padding: 12px 16px;
   text-decoration: none;
   display: block;
}

.dropdown-content a:hover {
    background-color: #ff794d;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #ff794d;
}

.dropdown:hover {
    
}


/*Kuvat*/
img {
    margin: 1.5em 0;
}


/*Napit*/
.btn {
    margin: 1em 1em 1em 0px;
    font-size: 18px;
    padding: 20px 30px 20px 30px;
    background-color: #00aeed;
    color: #fff;
    border-radius: initial;
}

.btn:active, .btn:hover {
    background-color: #2dbcef;
    color: #fff;
}

/*Teht. napit*/
.hbtn {
    margin: 0;
    border: none;
    border-top: 1px solid #fff;
    width: 30%;
    font-size: 18px;
    padding: 15px 30px 15px 30px;
    background-color: #00aeed;
    color: #fff;
    border-radius: initial;
}

.hbtn:active, .hbtn:hover {
    background-color: #2dbcef;
    color: #fff;
}

input {
    margin: 1em 1em;
    width: 30%;
}

#jumbotron-special {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    height: 200px;
    background-color: #00aeed;
    text-align: center;
}

#jumbotron-special > p {
    padding-top: 50px;
    color: #fff;
    text-align: center;
    font-family: 'Century Gothic';
    text-decoration: none;
    font-size: 18px;
    line-height: 24px;
}

/*
footer {
    display: block;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background-color: #00b29c;
}
*/

/*#kuvat {
    display: block;
    float: right;
    max-width: 450px;
}*/

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

/*Oppitunti1 sisällön näyttämisen oletusmääritykset*/
#sisalto1 {
    display: block;
}

#sisalto2 {
    display: none;
}

#sisalto3 {
    display: none;
}

#sisalto4 {
    display: none;
}

/*Harjoituksia1 sisällön näyttäminen*/
/*Teht1*/
#h1sisalto1 {
    display: block;
}

#h1sisalto2 {
    display: none;
}

#h1sisalto3 {
    display: none;
}

#h1sisalto4 {
    display: none;
}

#h1sisalto5 {
    display: none;
}
/*Teht2*/
#h1sisalto6 {
    display: none;
}

#h1sisalto7 {
    display: none;
}

#h1sisalto8 {
    display: none;
}

#h1sisalto9 {
    display: none;
}

#h1sisalto10 {
    display: none;
}